.cards {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 600px; }
  .cards li {
    padding: 2%;
    width: 20%;
    height: 80%; }

.card {
  border: 1px solid #eee;
  border-radius: 1rem;
  box-shadow: 0 4rem 5rem #efefef;
  position: absolute;
  z-index: 5;
  min-width: 35rem;
  min-width: 60px; }
  .card__header {
    background-color: #333;
    color: white;
    padding: 2rem 0;
    text-align: center;
    font-size: x-large; }
  .card__content {
    padding: 2rem 3rem; }
