.cards {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }

.card {
  border: 1px solid #eee;
  border-radius: 1rem;
  box-shadow: 0 4rem 5rem #efefef;
  position: relative;
  z-index: 5;
  width: 23rem;
  margin-bottom: 2rem;
  margin: 2rem; }
  .card__header {
    background-color: #333;
    color: white;
    padding: 1.5rem 0;
    text-align: center; }
  .card__content {
    padding: 1.5rem 3rem; }
