.nav {
  background: #333;
  color: white; }
  .nav__list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex: 1;
    align-items: center; }
    .nav__list li {
      float: left; }
      .nav__list li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none; }
      .nav__list li a:hover:not(.active) {
        background-color: #111; }

.active {
  background-color: #3020c0; }
