.flowerCard {
  border: 1px solid #eee;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem #385e3c;
  position: relative;
  z-index: 5;
  width: 10rem;
  height: auto;
  margin: 2rem; }
  .flowerCard__content {
    border-radius: 1rem;
    height: 85%; }
    .flowerCard__content h3 {
      background-color: lightgray;
      border-radius: 1rem;
      display: inline-block; }
  .flowerCard img {
    border-radius: 1rem;
    margin-top: 0.5rem; }
  .flowerCard .modal__content {
    background-color: #163642; }
    .flowerCard .modal__content div {
      margin: 0.25rem;
      background: #969696;
      border-radius: 1rem; }

.Dead {
  background-color: #2e2e1d; }

.Alive {
  background-color: #385e3c; }
