.App {
    text-align: center;
  }
  
  .count {
    float: left;
    color: blue;
    margin-left: 5%;
}
  
  //Global Modal
  #modal-root {
    position: relative;
    z-index: 999;
   .modal {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
   
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    &__content {
      background-color: rgb(35, 10, 126);
      margin: 0 1em;
      text-align: center;
      padding: 2.5rem 5rem;
    }
  }
}

//distinct modal
.anchor{
  border: solid 5px #DDD;

  position: relative;
  
 
  .modal {
    background-color: rgba(0,0,0,0.5);
   position: absolute;
   z-index: 999;
   display: flex;
   height: 100%;
   width: 100%;
   align-items: center;
   justify-content: center;
    
      &__content {
        background-color: rgb(100, 5, 5);
        margin:1em;
        text-align: center;
        padding: 1em;
        img{
          width: 80%;
          height: auto;
          margin: 1em;
        }
      }
      
    }
  }

@import 'assets/scss/button.scss';

@import 'assets/stolenassets/cards.scss';

@import 'assets/stolenassets/nav.scss';