.App {
    text-align: center;
  }
  
  .count {
    float: left;
    color: blue;
    margin-left: 5%;
}
  

@import 'assets/scss/button.scss';
@import 'assets/scss/modal.scss';
@import 'assets/stolenassets/cards.scss';
@import 'assets/stolenassets/nav.scss';

@import 'Phase3Components/assets/scss/flowerCard.scss';

.challenge {
  text-align: center;
  margin: 3rem 0 0;
  padding: 0 1rem;
}

.bigDeath {
  position: absolute;
  
  width:35%;
  height: auto;
  align-content: center;
  margin: 2rem;
}
.BreakDownContent {
  position: absolute;
  z-index: 999;
  width : 40%;
  max-width: 35em;
  height : auto;
  left: 0;
  padding: 2em;
  margin: 1em;

  border: 1px black solid;
  background-color: white;
  p, div{
    margin: 0.5em;
  }
}

.intro {
  padding: 2em;
  margin: 1em;
  position: relative;
  border: 1px black solid;
  background-color: white;
  width: 40%;
  height: auto;
  float: auto;
}