.App {
    text-align: center;
  }
  
  .count {
    float: left;
    color: blue;
    margin-left: 5%;
}
  

@import 'assets/scss/button.scss';
@import 'assets/scss/modal.scss';
@import 'assets/stolenassets/cards.scss';
@import 'assets/stolenassets/nav.scss';

@import 'Phase3Components/assets/scss/flowerCard.scss';

.challenge {
  text-align: center;
  margin: 3rem 0 0;
  padding: 0 1rem;
}