
body {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  line-height: 1.7;
  font-size: 1.6rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
